<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>        
      <httpProtocol>
        <customHeaders>
          <add name="Strict-Transport-Security" value="max-age=31536000"/>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>

      <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      </handlers>

      <rewrite>
        <rules>
          <rule name="DynamicContent">
            <match url="/*" />
            <action type="Rewrite" url="server.js" />
          </rule>
          <rule name="StaticContent" stopProcessing="true">  
            <match url="([\S]+[.](jpg|jpeg|gif|css|png|js|ts|cscc|less|ico|html|map|svg))" />
            <action type="None" />
          </rule>  
          <rule name="apiContent" patternSyntax="Wildcard" stopProcessing="true">  
            <match url="api/*" />
            <action type="None" />
          </rule> 
       </rules>

       <outboundRules>
          <rule name="Add Strict-Transport-Security (HSTS) when HTTPS" enabled="true">
            <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="on" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" value="max-age=31536000; includeSubDomains" />
          </rule>
        </outboundRules>
      </rewrite>

        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" />
          <remove fileExtension=".svg" />
          <remove fileExtension=".eot" />
          <remove fileExtension=".ttf" />
          <remove fileExtension=".woff" />
          <remove fileExtension=".woff2" />
          <remove fileExtension=".otf" />
          <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
          <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
          <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
          <mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
          <mimeMap fileExtension=".otf" mimeType="application/otf" />
          
          <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
          <mimeMap fileExtension=".png" mimeType="image/png" />
          <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
          <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
          <mimeMap fileExtension=".gif" mimeType="image/gif" />
         </staticContent>
        <directoryBrowse enabled="false" />      
    </system.webServer>
</configuration>